@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');



* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



.background {
    display:flex;
    align-items:center;
    overflow: hidden;
    border-radius: 15px;
    height:800px;
    max-width: 90%;
    box-shadow: 0 0 10px 5px #DDD;
}

body {
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    color: #333;
}

.splash-img {
    background-image: url(./assets/splash.jpg);
    background-size:cover;
    width: 45%;
    height:100%;
}

.logo img {
    width:25%;
}

.logo h1 {
    font-family: 'Raleway', sans-serif;
}


.logo {
    background:rgba(0,0,0,.5);
    color:white;
    font-size: 2em;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:40%;
    height:180px;
}

main {
    height:100%;
    max-width:60%;
    background-color:rgb(247, 247, 247);
}

.form-container {
    display:flex;
    height:60%;
    width:100%;
    padding:2rem 2rem;
    margin-bottom:2rem;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.1);
}

.form-container p {
    font-size: 1.2rem;
    font-weight: 700;
}


form {
    height:60%;
}

input:focus {
    outline:none !important;
    border:2px solid blue;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.5)
}


form input {
    padding:2px;
    border-radius:5px;
    font-size:1rem;
    border:1px solid #D6D9DC;
}

.form-cell label {
    font-size: 1rem;
    font-weight:600;
}

.form-cell {
    display:flex;
    flex-direction: column;
    width:40%;
}

main {
    height:100%;
    max-width:70%;
    display:flex;
    flex-direction: column;
}

fieldset {
    display:flex;
    flex-direction: row;
    border:none;
    gap:4rem;
}

.desc {
    padding:4rem 2rem;
    font-size: 1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:80%;
    height:35%;
}

.button {
    padding-left:24px;
    display:flex;
    flex-direction: column;
    font-size:1.4rem;
    justify-content: space-around;
    gap:30px;
}

button {
    display:flex;
    width: 220px;
    flex-direction: column;
    margin-top: 12px;
    padding: 6px 24px;
    background-color: #596D48;
    border-radius:12px;
    color:white;
    font-size:1.4rem;
    box-shadow:0 0 5px #333;
}

.button a {
    text-decoration: none;
    color: #596D48;
}

.button p {
    margin-left:2px;
}